/* CDN Fonts */
@import url('https://fonts.cdnfonts.com/css/noto-serif-kr');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

/* CSS Variables */
:root {
  --font-ko-main: 'Noto Serif KR', sans-serif;
  --font-ko-sub: 'Pretendard', sans-serif;
  --font-en-main: 'Chonburi', sans-serif;
  --color-primary: #FFFFFF;
  --color-secondary: #866B62;
}